#ignore db credentials
db_config.yaml

#ignore .DS_Store files
.DS_Store

#ignore __pycache__ directories
**/__pycache__

#ignore .ipynb_checkpoints directories
**/.ipynb_checkpoints

#ignore pyc files
*.pyc

#ignore .git files
**/.git
